In [2]:
# NBA Player Value based on Win-Shares and Salary

In [3]:
#import required packages
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
%ls

 Volume in drive C has no label.
 Volume Serial Number is 00A3-EBD9

 Directory of C:\Users\dudad\Documents\Data Science Career Track

04/25/2019  05:23 PM    <DIR>          .
04/25/2019  05:23 PM    <DIR>          ..
04/23/2019  06:08 PM    <DIR>          .ipynb_checkpoints
04/07/2019  01:01 PM    <DIR>          Data Wrangling
04/23/2019  06:28 PM            29,219 Eddie-Conversion.ipynb
04/25/2019  05:23 PM            85,339 NBA Player Value Data Wrangling.ipynb
03/19/2019  06:04 PM            60,165 NBA Player Value.ipynb
03/18/2019  05:30 PM            44,983 NBA Player Value-Copy1.ipynb
04/07/2019  11:21 AM            52,127 nba_player_contracts.csv
04/07/2019  10:42 AM            90,836 nba_player_stats.csv
03/11/2019  05:40 AM            41,072 player_salary.csv
04/02/2019  05:42 AM            97,603 player_stats.csv
03/19/2019  06:10 PM             6,545 PlayerMiningFile.ipynb
02/25/2019  05:34 AM    <DIR>          SQL Mini Project
               9 File(s)        507,889 bytes
               5 Dir(s)  139,158,798,336 bytes free

### Create Dataframe from csv
#### Last updated 4/7/2019, includes games through 4/6/2019

In [5]:
#creating player stats df from csv
df_stats = pd.read_csv('nba_player_stats.csv')

In [6]:
df_stats.head()

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,1,Alex Abrines,SG,25,OKC,31,588,6.3,0.507,0.809,...,7.9,12.2,0.1,0.6,0.7,0.054,-2.5,-1,-3.4,-0.2
1,2,Quincy Acy,PF,28,PHO,10,123,2.9,0.379,0.833,...,15.2,9.2,-0.1,0.1,-0.1,-0.02,-5.6,-0.3,-5.9,-0.1
2,3,Jaylen Adams,PG,22,ATL,32,393,7.9,0.479,0.689,...,19.6,13.7,-0.1,0.2,0.1,0.014,-2.8,-1.5,-4.3,-0.2
3,4,Steven Adams,C,25,OKC,77,2593,18.9,0.596,0.003,...,12.6,16.4,5.1,4,9.1,0.168,0.8,2.2,3,3.3
4,5,Bam Adebayo,C,21,MIA,79,1841,17.8,0.623,0.028,...,17.3,15.6,3.4,3.2,6.6,0.171,-0.5,3.6,3,2.4

## Headers throughout the table are in csv for readability, removing for analysis purposes

In [7]:
df_stats = df_stats.drop(df_stats[(df_stats.Rk == 'Rk')].index)

In [8]:
df_stats.head()

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,1,Alex Abrines,SG,25,OKC,31,588,6.3,0.507,0.809,...,7.9,12.2,0.1,0.6,0.7,0.054,-2.5,-1,-3.4,-0.2
1,2,Quincy Acy,PF,28,PHO,10,123,2.9,0.379,0.833,...,15.2,9.2,-0.1,0.1,-0.1,-0.02,-5.6,-0.3,-5.9,-0.1
2,3,Jaylen Adams,PG,22,ATL,32,393,7.9,0.479,0.689,...,19.6,13.7,-0.1,0.2,0.1,0.014,-2.8,-1.5,-4.3,-0.2
3,4,Steven Adams,C,25,OKC,77,2593,18.9,0.596,0.003,...,12.6,16.4,5.1,4,9.1,0.168,0.8,2.2,3,3.3
4,5,Bam Adebayo,C,21,MIA,79,1841,17.8,0.623,0.028,...,17.3,15.6,3.4,3.2,6.6,0.171,-0.5,3.6,3,2.4

In [9]:
#full definition of all columns can be found at https://www.basketball-reference.com/leagues/NBA_2019_advanced.html
list(df_stats)

['Rk',
 'Player',
 'Pos',
 'Age',
 'Tm',
 'G',
 'MP',
 'PER',
 'TS%',
 '3PAr',
 'FTr',
 'ORB%',
 'DRB%',
 'TRB%',
 'AST%',
 'STL%',
 'BLK%',
 'TOV%',
 'USG%',
 'OWS',
 'DWS',
 'WS',
 'WS/48',
 'OBPM',
 'DBPM',
 'BPM',
 'VORP']

### View how columns were imported
We need to see what kind of object or type the columns are.

In [10]:
df_stats.dtypes

Rk        object
Player    object
Pos       object
Age       object
Tm        object
G         object
MP        object
PER       object
TS%       object
3PAr      object
FTr       object
ORB%      object
DRB%      object
TRB%      object
AST%      object
STL%      object
BLK%      object
TOV%      object
USG%      object
OWS       object
DWS       object
WS        object
WS/48     object
OBPM      object
DBPM      object
BPM       object
VORP      object
dtype: object

## Casting a column to Float from an Object
This is the quick and easy pandas way of doing it.

In [11]:
# ORB% is an object as noted above now check the coloumn out.
df_stats['ORB%'] = pd.to_numeric(df_stats['ORB%'], errors='coerce')

In [12]:
df_stats.dtypes

Rk         object
Player     object
Pos        object
Age        object
Tm         object
G          object
MP         object
PER        object
TS%        object
3PAr       object
FTr        object
ORB%      float64
DRB%       object
TRB%       object
AST%       object
STL%       object
BLK%       object
TOV%       object
USG%       object
OWS        object
DWS        object
WS         object
WS/48      object
OBPM       object
DBPM       object
BPM        object
VORP       object
dtype: object

### Convert all object to string object
We want to make sure we are working with the right type of strings here.

In [13]:
list_col = df_stats.columns
for col_name in list_col:
    df_stats[col_name] = df_stats[col_name].astype(str) # Cast from Object alone to String Object

# Now for the fun part. Convert numerical columns from objects to Numerical Objects.
For the fun part. Finding the list of columns we want as strings,
and convert those we want to numerical columns.

In [14]:
list_col_names = df_stats.columns
col_name_to_not_convert = ['Rk', 'Player', 'Pos', 'Tm']

# This Flnds the difference of the total list of columns and removes the list of names to remain as Strings
col_name_to_convert = list(set(col_name_to_not_convert)^set(list_col_names))

print('Columns to convert to Float: \n',col_name_to_convert)

Columns to convert to Float:
 ['MP', 'DBPM', 'USG%', 'BLK%', 'TRB%', 'ORB%', 'OBPM', 'BPM', 'TS%', 'FTr', 'DWS', 'G', 'WS/48', 'STL%', 'VORP', 'AST%', 'Age', '3PAr', 'PER', 'OWS', 'TOV%', 'DRB%', 'WS']

## Now convert the ojects to Numerical objects.
This website may help you to understand the used cases of how to cast columns.
https://pbpython.com/pandas_dtypes.html

In [15]:
for col_name in col_name_to_convert:
    df_stats[col_name] = pd.to_numeric(df_stats[col_name], errors='coerce')

In [16]:
df_stats.dtypes

Rk         object
Player     object
Pos        object
Age         int64
Tm         object
G           int64
MP          int64
PER       float64
TS%       float64
3PAr      float64
FTr       float64
ORB%      float64
DRB%      float64
TRB%      float64
AST%      float64
STL%      float64
BLK%      float64
TOV%      float64
USG%      float64
OWS       float64
DWS       float64
WS        float64
WS/48     float64
OBPM      float64
DBPM      float64
BPM       float64
VORP      float64
dtype: object

In [17]:
df_stats.head()

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,1,Alex Abrines,SG,25,OKC,31,588,6.3,0.507,0.809,...,7.9,12.2,0.1,0.6,0.7,0.054,-2.5,-1.0,-3.4,-0.2
1,2,Quincy Acy,PF,28,PHO,10,123,2.9,0.379,0.833,...,15.2,9.2,-0.1,0.1,-0.1,-0.020,-5.6,-0.3,-5.9,-0.1
2,3,Jaylen Adams,PG,22,ATL,32,393,7.9,0.479,0.689,...,19.6,13.7,-0.1,0.2,0.1,0.014,-2.8,-1.5,-4.3,-0.2
3,4,Steven Adams,C,25,OKC,77,2593,18.9,0.596,0.003,...,12.6,16.4,5.1,4.0,9.1,0.168,0.8,2.2,3.0,3.3
4,5,Bam Adebayo,C,21,MIA,79,1841,17.8,0.623,0.028,...,17.3,15.6,3.4,3.2,6.6,0.171,-0.5,3.6,3.0,2.4